:root {
	//=============/=============/=============
	// base
	//отступ максимальный
	--offset-maximum: 100px;
	//отступ огромный
	--offset-huge: 60px;
	//отступ большой
	--offset-large: 40px;
	//отступ средний
	--offset-middle: 30px;
	//отступ маленький
	--offset-small: 20px;
	//отступ маленький в обратную сторону
	--offset-small-back: -20px;
	//отступ минимальный в обратную сторону
	--offset-minimum: 10px;
	--offset-minimum-back: -10px;
	//отступ минимальный

	//=============/=============/=============
	// colors
	--white-color: #fff;
	--black-color: #000;
	--westSide-color: #ff9218;
	--blue-color: #1f9cff;
	--outerSpace-color: #2f363e;
	--xanadu-color: #7d7f7d;
	--bgImage-color: #505050;
	--grey-color: #2f4f4f;
	--orange-color: #b3821a;
	--pumpkin-color: #d9821a;
}
