<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>

<body>


<div class="wrapper">
	<div class="header__nav">
		<button class="btn-reset nav-btn">Каталог</button>
		<nav class="nav">

			<div class="nav__item">
				<div class="nav__heading">
					<button class="btn-reset nav__btn" aria-expanded="false">Кресла и стулья</button>
				</div>
				<div class="drop" aria-hidden="true">
					<ul class="list-reset drop__list">
						<li class="drop__item"><a href="#" class="drop__link">Офисные кресла</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Офисные стулья</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Конференц-кресла</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Стулья для кафе и ресторанов</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Многоместные секции</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Табуретки и банкетки</a></li>
					</ul>
				</div>
			</div>


			<div class="nav__item">
				<div class="nav__heading">
					<button class="btn-reset nav__name" aria-expanded="false">Системы хранения</button>
				</div>
				<div class="drop" aria-hidden="true">
					<ul class="list-reset drop__list">
						<li class="drop__item"><a href="#" class="drop__link">Стеллажи</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Архивные шкафы</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Бухгалтерские шкафы</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Картотечные шкафы</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Гардеробные шкафы</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Мобильные тумбы</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Оружейные шкафы</a></li>
						<li class="drop__item"><a href="#" class="drop__link">Почтовые ящики и ключницы</a></li>
					</ul>
				</div>
			</div>

		</nav>
	</div>

	<button class="btn-reset">Корзина</button>
	<button class="btn-reset">Доставка</button>
</div>



	<script src="script.js"></script>

</body>

</html>