


//=============/=============/=============
//========== УБИРАЕТ ВИДИМОСТЬ СКРОЛЛА ==========
.elem {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.elem::-webkit-scrollbar {
	width: 0;
	height: 0;
}