<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>

<body class="body">


	<nav class="nav">
		<ul class="list-reset nav__list">
			<li class="nav__item"><a href="#">1</a></li>
			<li class="nav__item"><span>2</span>
				<ul class="list-reset dropdown-list">
					<li class="nav__item"><a href="#">20</a></li>
					<li class="nav__item"><a href="#">30</a></li>
					<li class="nav__item"><a href="#">40</a></li>
				</ul>
			</li>
			<li class="nav__item"><a href="#">3</a></li>
			<li class="nav__item"><a href="#">4</a></li>
			<li class="nav__item"><span>5</span>
				<ul class="list-reset dropdown-list">
					<li class="nav__item"><span>200</span>
						<ul class="list-reset dropdown-list">
							<li class="nav__item"><a href="#">20001</a></li>
							<li class="nav__item"><a href="#">30001</a></li>
							<li class="nav__item"><a href="#">40001</a></li>
						</ul>
					</li>
					<li class="nav__item"><span>300</span>
						<ul class="list-reset dropdown-list">
							<li class="nav__item"><span>2000</span>
								<ul class="list-reset dropdown-list">
									<li class="nav__item"><a href="#">20</a></li>
									<li class="nav__item"><a href="#">30</a></li>
									<li class="nav__item"><a href="#">40</a></li>
									<li class="nav__item"><a href="#">20</a></li>
									<li class="nav__item"><a href="#">30</a></li>
									<li class="nav__item"><a href="#">40</a></li>
									<li class="nav__item"><a href="#">20</a></li>
									<li class="nav__item"><a href="#">30</a></li>
									<li class="nav__item"><a href="#">40</a></li>
								</ul>
							</li>
							<li class="nav__item"><a href="#">3000</a></li>
							<li class="nav__item"><a href="#">4000</a></li>
							<li class="nav__item"><a href="#">2000</a></li>
							<li class="nav__item"><a href="#">3000</a></li>
							<li class="nav__item"><span>4000</span>
								<ul class="list-reset dropdown-list">
									<li class="nav__item"><a href="#">20</a></li>
									<li class="nav__item"><a href="#">30</a></li>
									<li class="nav__item"><a href="#">40</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav__item"><a href="#">400</a></li>
				</ul>
			</li>
		</ul>
	</nav>












	<!-- <nav class="nav">
		<ul class="list-reset nav__list">
			<li class="nav__item"><a href="#">1</a></li>
			<li class="nav__item"><span>2</span>
				<ul class="list-reset dropdown-list">
					<li class="dropdown-list__item"><a href="#">20</a></li>
					<li class="dropdown-list__item"><a href="#">30</a></li>
					<li class="dropdown-list__item"><a href="#">40</a></li>
				</ul>
			</li>
			<li class="nav__item"><a href="#">3</a></li>
			<li class="nav__item"><a href="#">4</a></li>
			<li class="nav__item"><span>5</span>
				<ul class="list-reset dropdown-list">
					<li class="dropdown-list__item"><span>200</span>
						<ul class="list-reset dropdown-list">
							<li class="dropdown-list__item"><a href="#">20001</a></li>
							<li class="dropdown-list__item"><a href="#">30001</a></li>
							<li class="dropdown-list__item"><a href="#">40001</a></li>
						</ul>
					</li>
					<li class="dropdown-list__item"><span>300</span>
						<ul class="list-reset dropdown-list">
							<li class="dropdown-list__item"><span>2000</span>
								<ul class="list-reset dropdown-list">
									<li class="dropdown-list__item"><a href="#">20</a></li>
									<li class="dropdown-list__item"><a href="#">30</a></li>
									<li class="dropdown-list__item"><a href="#">40</a></li>
									<li class="dropdown-list__item"><a href="#">20</a></li>
									<li class="dropdown-list__item"><a href="#">30</a></li>
									<li class="dropdown-list__item"><a href="#">40</a></li>
									<li class="dropdown-list__item"><a href="#">20</a></li>
									<li class="dropdown-list__item"><a href="#">30</a></li>
									<li class="dropdown-list__item"><a href="#">40</a></li>
								</ul>
							</li>
							<li class="dropdown-list__item"><a href="#">3000</a></li>
							<li class="dropdown-list__item"><a href="#">4000</a></li>
							<li class="dropdown-list__item"><a href="#">2000</a></li>
							<li class="dropdown-list__item"><a href="#">3000</a></li>
							<li class="dropdown-list__item"><span>4000</span>
								<ul class="list-reset dropdown-list">
									<li class="dropdown-list__item"><a href="#">20</a></li>
									<li class="dropdown-list__item"><a href="#">30</a></li>
									<li class="dropdown-list__item"><a href="#">40</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown-list__item"><a href="#">400</a></li>
				</ul>
			</li>
		</ul>
	</nav> -->


	<script src="script.js"></script>

</body>

</html>