<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>

<body>

	<!-- plugins ------------ 
			---------------q-accordion -->

	<!-- 
		dropdown сдвигает контент вниз
		можно применять как аккардион
	-->

	<div class="dropdown">
		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>
		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>

		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>

		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>

	</div>


	<script src="script.js"></script>

</body>

</html>