<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>

<body>

	<!-- plugins ------------ 
			---------------q-accordion -->

	<!-- 
		dropdown сдвигает контент вниз
		можно применять как аккардион
	-->

	<div class="dropdown">
		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>
		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>

		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>

		<div class="dropdown__item">
			<button class="btn-reset dropdown__title" aria-expanded="false">What's an accordion?</button>
			<ul aria-hidden="true" class="list-reset dropdown__list dropdown-submenu">
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
				<li class="dropdown-submenu__item"><a href="#" class="dropdown-submenu__link">1</a></li>
			</ul>
		</div>

	</div>


	<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum iure, quod itaque error placeat eveniet non quis aperiam obcaecati repellat, dolorum doloremque impedit voluptas reprehenderit ad repudiandae modi deleniti neque illum dolore dignissimos corrupti? Necessitatibus soluta cum quae, molestias aliquid a, assumenda distinctio, pariatur porro at eos nesciunt earum? Nulla reprehenderit commodi error libero, incidunt, vero reiciendis numquam vel non nesciunt quam saepe placeat enim expedita rem magnam dignissimos molestias illo ex voluptates voluptas quia laudantium odit. Aliquam animi harum vero? Magnam quisquam ducimus quaerat repellat maxime sit ea rem quod deleniti numquam! Magni tempora nulla praesentium amet unde suscipit?</section>


	<script src="script.js"></script>

</body>

</html>